<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>TODO List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h1>TODO List</h1>
    <div class="todo form">
        <label for="comment-input">Add TODOs</label>
        <form action="/add-comment">
            <input type="text" name="comment-input" id="comment-input" placeholder="Enter a new comment">
            <input type="submit" name="comment-submit" value="Submit">
        </form>
    </div>

    <div class="todo-items">
        <label>Things to do:</label>
        <ul>
            {% for item in todo_list %}
                <li>{{item}}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>