{% extends 'navbase.html' %}

{% block title %}Assignments{% endblock %}

{% block content %}

    <h3>Assignment 1</h3>
    <p>To be submitted to gradescope.
    <br>
    Due January 27th 2021, 11:59pm
    <br>
    <a href="http://www.africau.edu/images/default/sample.pdf">a1.pdf</a>
    <br>
    <a href="http://www.africau.edu/images/default/sample.pdf">a1.txt</a>
    </p>
    <br>
    <h3>Assignment 2</h3>
    <p>To be submitted to gradescope.
    <br>
    Due February 15th 2021, 11:59pm
    <br>
    <a href="http://www.africau.edu/images/default/sample.pdf">a2.pdf</a>
    <br>
    <a href="http://www.africau.edu/images/default/sample.pdf">a2.txt</a>
    </p>
    <br>
    <h3>Assignment 3</h3>
    <p>To be submitted to gradescope.
    <br>
    Due March 21st 2021, 11:59pm
    <br>
    <a href="http://www.africau.edu/images/default/sample.pdf">a3.pdf</a>
    <br>
    <a href="http://www.africau.edu/images/default/sample.pdf">a3.txt</a>
    </p>
    <br>

    <a href=https://markus.utsc.utoronto.ca/cscb20w21/ target="_blank">Link to Markus</a>

{% endblock %}