{% extends 'navbase.html' %}

{% block title %}Exams{% endblock %}

{% block content %}

    <p>
        Exams will be held on <a href= "https://www.gradescope.com/" target="_blank">https://www.gradescope.com/</a>
    </p>
    <br>
    <h2><u>Past Exams</u></h2>
    <br>
    <p>
        Remember: the curriculum is always changing so past examinations may not perfectly reflect what will be
        on the current exams.
    </p>
    <br>
    <p>
        <a href="http://www.africau.edu/images/default/sample.pdf">Fall 2020 midterm</a>
    </p>
    <p>
        <a href="http://www.africau.edu/images/default/sample.pdf">Fall 2020 final</a>
    </p>

{% endblock %}

