{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="center-align">
        <h3>Welcome to:</h3>
        <h1>
            CSCB63 - Design and Analysis of Data Structures
        </h1>
    </div>
    <br>

    <div class="form-wrapper">
        <form method="post">
            <h2>Login</h2>
            <label for="username">Username</label>
            <input name="username" id="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <input type="submit" value="Log In" class="button">
            {% if error != None %}
                <p>
                    {{ error }}
                </p>
            {% endif %}
            <a href="register">Create an account</a>
        </form>
    </div>

{% endblock %}