{% extends 'navbase.html' %}

{% block title %}Resources{% endblock %}

{% block content %}

    <h2>LaTeX</h2>
    <p>
        Download LaTeX installations, editors, and compilers
        <a href="https://www.latex-project.org/get/" target="_blank">here</a>.
    </p>
    <p>
        Learn LaTeX with the
        <a href="https://tobi.oetiker.ch/lshort/lshort.pdf" target="_blank">Not So Short Guide to LaTeX</a>.
    </p>
    <p>
        Learning all of LaTeX may be overkill, you can start with this
        <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/template.tex" target="_blank">template.tex</a>
        and add as you need.
    </p>
    <h2>Piazza</h2>
    <p>
        Post and ask questions anonymously to your classmates on
        <a href="https://piazza.com/mail.utoronto.ca/winter2020/cscb63/home" target="_blank">Piazza</a>.
    </p>

    <h2>Course Team</h2>
    <h3>Instructor:</h3>
    <br>
    <p>Dr. Anna Bretscher
        <br>
        Email: anna.bretscher@utoronto.ca
        <br>
        Office: IC 493
    </p>
    <br>
    <h3>Teaching Assistants:</h3>
    <br>
    <p>
        1. Aisha Abdul Rahiman <br> aish.rahiman@mail.utoronto.ca <br> office hours: Monday 11:00 - 12:00
        <br>
        <br>
        2. Leo Wang <br> l.wang@mail.utoronto.ca <br> office hours: Monday 12:00 - 1:00
    </p>

{% endblock %}

